
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="#" alt="logo garage V. Parrot"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" 
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav">

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_occasions') }}">Occasions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_opinion') }}">Avis</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
                        aria-expanded="false">{{ app.user.email }}</a>
                        <div class="dropdown-menu" style="width: 15rem;">
                            <a class="dropdown-item" href="{{ path('app_editUser', {id : app.user.id}) }}">Modifier mes informations</a>
                            <a class="dropdown-item" href="{{ path('app_editPasswordUser', {id : app.user.id}) }}">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logoutSecurity') }}">Déconnexion</a>
                        </div>
                    </li>
                {% else %}

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_publicOccasions') }}">Occasions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_publicOpinion') }}">Avis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_loginSecurity') }}"><i class="fa-solid fa-user"></i></a>  
                        </li>
                        {# <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_registrationSecurity') }}">Inscription</a>
                        </li> #}
                    </ul>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>