{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <div style="background-image: url('./uploads/atelier.jpg'); background-size: cover; height: 20vh;">
    </div>

    <section class="container-sm d-flex flex-column">
            <h2 class="mt-4 pt-4 text-center" style="text-transform: uppercase; color: #446E9B;">Réparation carrosserie</h2>
            <div class="d-flex justify-content-evenly mb-4">
                <div>
                    <i class="fa-solid fa-gear m-3"></i> Réparation plastique<br>
                    <i class="fa-solid fa-gear m-3"></i> Réparation optique<br>
                </div>
                <div>
                    <i class="fa-solid fa-gear m-3"></i> Vitrage<br>
                    <i class="fa-solid fa-gear m-3"></i> Réparation carrosserie rapide<br>
                </div> 
            </div>
    </section>
    
    <div class="divider">
        <i class="fa-solid fa-circle"></i>
    </div>

    <section class="container-sm d-flex flex-column">
            <h2 class="mt-4 text-center" style="text-transform: uppercase; color: #446E9B;">Entretien du véhicule</h2>
            <div class="d-flex justify-content-evenly mb-4">
                <div>
                    <i class="fa-solid fa-wrench m-3"></i> Révision vidange<br>
                    <i class="fa-solid fa-wrench m-3"></i> Climatisation<br>
                    <i class="fa-solid fa-wrench m-3"></i> Embrayage<br>
                    <i class="fa-solid fa-wrench m-3"></i> Courroie de distribution<br>
                </div>
                <div>
                    <i class="fa-solid fa-wrench m-3"></i> Amortisseurs<br>
                    <i class="fa-solid fa-wrench m-3"></i> Disques et plaquettes<br>
                    <i class="fa-solid fa-wrench m-3"></i> Diagnostic électronique<br>
                    <i class="fa-solid fa-wrench m-3"></i> Géométrie et parallélisme<br>
                </div>
            </div>
    </section>

    <div class="divider">
        <i class="fa-solid fa-circle"></i>
    </div>

    <section class="container-sm mb-4">
            <h2 class="m-4 text-center" style="text-transform: uppercase; color: #446E9B;">Témoignages</h2>
            <div class="d-flex flex-wrap">
                {% for opinion in opinions %}
                    <div class="card m-1" style="width: 100%;">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <p class="card-name"><b>{{ opinion.name }}</b></p>
                            <p class="card-message">{{ opinion.message }}</p>
                            <p class="card-mark" style="color: #446E9B">
                                {% for i in 1..5 %}
                                    {% if i <= opinion.mark %}
                                        <i class="fa-solid fa-star"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="fw-bold p-3">
                                    {{ opinion.mark }}/5
                                </span>
                                <span class="p-3">
                                    - {{ opinion.createdAt|date("m/d/Y") }}
                                </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(opinions) }}
            </div>
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_publicOpinion') }}"><button type="button" class="btn btn-primary">Donnez votre avis</button></a>
            </div>
    </section>

    <div class="divider">
        <i class="fa-solid fa-circle"></i>
    </div>

    <section class="container-sm mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.173386559506!2d1.4409235765286363!3d43.602931355680084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6277e23d01%3A0xcf9464500ddb85b2!2sRue%20Saint-Rome%2C%2031000%20Toulouse!5e0!3m2!1sfr!2sfr!4v1710841787899!5m2!1sfr!2sfr"
        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_contact') }}"><button type="button" class="btn btn-primary mt-4">Contactez-nous</button></a>
        </div>
    </section>
    <div>
        <a href="#" class="scroll-to-top" aria-label="Remonter en haut de la page">
            <i class="fa-solid fa-circle-up"></i>
        </a>
    </div>

{% endblock %}