{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <div style="background-image: url('./uploads/atelier.jpg'); background-size: cover; height: 20vh;">
    </div>

    <section class="container-sm d-flex flex-column">
            <h2 class="mt-4 pt-4 text-center"><span style="text-transform: uppercase;">Réparation</span> carrosserie</h2>
            <div class="d-flex justify-content-evenly mb-4">
                <div>
                    <i class="fa-solid fa-gear m-3"></i> Réparation plastique<br>
                    <i class="fa-solid fa-gear m-3"></i> Réparation optique<br>
                </div>
                <div>
                    <i class="fa-solid fa-gear m-3"></i> Vitrage<br>
                    <i class="fa-solid fa-gear m-3"></i> Réparation carrosserie rapide<br>
                </div> 
            </div>
    </section>
    
    <div class="divider">
        <i class="fa-solid fa-circle"></i>
    </div>

    <section class="container-sm d-flex flex-column">
            <h2 class="mt-4 text-center"><span style="text-transform: uppercase;">Entretien</span> du véhicule</h2>
            <div class="d-flex justify-content-evenly mb-4">
                <div>
                    <i class="fa-solid fa-wrench m-3"></i> Révision vidange<br>
                    <i class="fa-solid fa-wrench m-3"></i> Climatisation<br>
                    <i class="fa-solid fa-wrench m-3"></i> Embrayage<br>
                    <i class="fa-solid fa-wrench m-3"></i> Courroie de distribution<br>
                </div>
                <div>
                    <i class="fa-solid fa-wrench m-3"></i> Amortisseurs<br>
                    <i class="fa-solid fa-wrench m-3"></i> Disques et plaquettes<br>
                    <i class="fa-solid fa-wrench m-3"></i> Diagnostic électronique<br>
                    <i class="fa-solid fa-wrench m-3"></i> Géométrie et parallélisme<br>
                </div>
            </div>
    </section>

    <div class="divider">
        <i class="fa-solid fa-circle"></i>
    </div>

    <section class="container-sm mb-4">
            <h2 class="m-4 text-center" style="text-transform: uppercase;">Témoignages</h2>
        
                {# <div class="carousel-inner">
                    {% for opinion in opinions %}
                        <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                            <p class="card-name"><b>{{ opinion.name }}</b></p>
                            <p class="card-message">{{ opinion.message }}</p>
                            <p class="card-mark fw-bold" style="color: red">{{ opinion.mark }}/5</p>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button> #}
            
            <div class="d-flex flex-wrap justify-content-center">
                {% for opinion in opinions %}
                    <div class="card m-1" style="width: 15rem;">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <p class="card-name"><b>{{ opinion.name }}</b></p>
                            <p class="card-message">{{ opinion.message }}</p>
                            <p class="card-mark fw-bold" style="color: red">{{ opinion.mark }}/5</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>

    <div>
        <div style="background-image: url('./uploads/douilles2.jpg'); background-size: cover; height: 20vh;">
    </div>

{% endblock %}
