{% extends 'base.html.twig' %}

{% block title %}Hour{% endblock %}

{% block body %}
    <h1>Hour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hour.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ hour.day }}</td>
            </tr>
            <tr>
                <th>OpeningTime1</th>
                <td>{{ hour.openingTime1 ? hour.openingTime1|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ClosingTime1</th>
                <td>{{ hour.closingTime1 ? hour.closingTime1|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OpeningTime2</th>
                <td>{{ hour.openingTime2 ? hour.openingTime2|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ClosingTime2</th>
                <td>{{ hour.closingTime2 ? hour.closingTime2|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hour') }}">back to list</a>

    <a href="{{ path('app_hour_edit', {'id': hour.id}) }}">edit</a>

    {{ include('hour/_delete_form.html.twig') }}
{% endblock %}
