<div class="card border-light m-3" style="width: 24rem;">
    <div class="card-header">Véhicule n° {{ car.id }}</div>
    <img src="{{ asset('./uploads/images/cars/' ~ car.images[0].name )}}" alt="{{ car.brand ~ " " ~ car.model }}">
    
    <div class="card-body">
        <h4 class="card-title">Marque : {{ car.brand }}</h4>
        <p class="card-text">Modèle : {{ car.model }}</p>
        <p class="card-text">Année : {{ car.year }}</p>
        <p class="card-text">Energie : {{ car.energy }}</p>
        <p class="card-text">Kilométrage : {{ car.kilometers | number_format(0, ',', ' ') }} km</p>
        <p class="card-text fw-bold fs-4 text-primary">Prix : {{ car.price | number_format(0, ',', ' ') }} €</p>
        <a href="{{ path('app_editDetailsOccasions', { id: car.id }) }}"><button type="button" class="btn btn-primary" style="width: 100%;">Détails</button></a>
    </div>
</div>